div.menuGroups {
	float: left;
	cursor: pointer;

	height: 28px;
	margin-left: 0px;

	overflow: visible;

	font-family: Verdana, Sans-Serif;
	font-weight: normal;
	font-size: 12px;
}
div.menuGroups div.text {
	display: inline-block;
	line-height: 30px;
	padding-left: 27px;
	padding-right: 10px;

	color: #aaaaaa;
	background-image: url(/img/filter18_off.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}
div.menuGroups.isActive div.text {
	color: #ffffff;
	background-image: url(/img/filter18_on.png);
}
div.menuGroups.isOpen div.text {
	color: #ffffff;
	background-image: url(/img/filter18_on.png);
	background-color: #442222;
	border-top-right-radius: 5px;
}
div.menuGroups div.menuExt {
	top: -2px;
}
